# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Environnements
.venv/
venv/
env/

# Django
media/
staticfiles/

# Node / Tailwind
frontend/node_modules/
frontend/.parcel-cache/
frontend/dist/

# Secrets
.env
